{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}
 <h1> All posts! </h1>
{% for p in posts %}
    <div>
        <h2> {{ p.title }}</h2>
        <p>{{ p.author.firstname }} {{ p.author.lastname }}</p>
        <p>{{ p.content }}</p>
    </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}

{% endblock %}
